.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0; 
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 295px;
}
@media (max-width : 759px) {
    .profile__name {
        font-size: 27px;
        line-height: normal;
        width: 201px;
    }
}